body{
  font-family: 'Open Sans', 'Optima';
  color: Darkblue;
  background-color: Ivory;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
h1, h2 {
  font-family: 'Oswald', 'SansSerif';
}

img {
  float: left;
  margin: 10px;
}

